<form action="/answer" method="get">
  <div class="search-container">
    <div class="search-box">
     <input type="text" name="question" placeholder="Ask your coach something" value=" <%= params[:question] %> ">
    </div>
    <div class="search-button">
      <input type="submit" value="Ask!">
    </div>
  </div>
</form>
